* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #F8F8FA;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page {
    padding-top: 40px;
    width: 406px;
    height: 104px;
    flex-shrink: 0;
    color: #626161;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.5%
}

.card {
    width: 320px;
    
    padding: 10px;
}

.card img {
    width: 300px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.container-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

h3 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%
    
}

p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.box-1 {
    height: 100px;
    margin: 50px 0px 0px 600px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 141.9%;
}




